body {
  font-family: sans-serif;
}

header {
  position: fixed;
  top: 0;
}

form {
  margin-top: 20px;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eeedf0;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.nav-list {
  float: right;
}

.nav-link {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: #eeedf0;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

.features {
  margin-top: 80px;
  text-align: center;
}

.icon {}

.form-div {
  text-align: center;
}

.footer {
  background-color: #eeedf0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.footer-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer-link {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.video {
  text-align: center;
  margin: 1em;
}

.shop {
  display: flex;
  justify-content: space-around;
}
