@import url('https://fonts.googleapis.com/css?family=Raleway');
/* Global */

body {
  padding: 0;
  margin: 0;
  background: #f4f4f4;
  font-family: "Raleway";
}

/* Nav Menu */

.navbar {
  background: #F97300;
}

.nav-link,
.navbar-brand {
  color: #f4f4f4;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em;
}

.nav-link:hover {
  background: #f4f4f4;
  color: #f97300;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: #ffffff;
}

/* Header */

.header {
  background-image: url('Images/kittenmittons.jpg');
  background-attachment: fixed;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #012E27;
}

/* E-mail Form */

.subscribe {
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
}

.subscribe h1 {
  color: #F97300;
}

.subscribe button {
  border: 1px solid #F97300;
  background: #F97300;
  color: #ffffff;
}

/* Video */

.about {
  margin: 4em 0;
  padding: 1em;
  position: relative;
}

.about h1 {
  color: #F97300;
  margin: 2em;
}

.about img {
  height: 100%;
  width: 100%;
}

.about span {
  color: #888888;
}

.about .desc {
  padding: 2em;
  border-left: 4px solid #10828C;
}

.about .desc h3 {
  color: #10828C;
}

.about .desc p {
  line-height: 2;
  color: #888888;
}

/* */

.blog {
  margin: 4em 0;
  position: relative;
}

.blog h1 {
  color: #F97300;
  margin: 2em;
}

.blog .card {
  box-shadow: 0 0 20px #cccccc;
}

.blog .card img {
  width: auto;
  height: 12em;
}

.blog .card-title {
  color: #F97300;
}

.blog .card-body {
  padding: 1em;
}

/* Contact */

.contact-form {
  margin: 6em 0;
  position: relative;
}

.contact-form h1 {
  padding: 2em 1px;
  color: #F97300;
}

.contact-form .right {
  max-width: 600px;
}

.contact-form .right .btn-secondary {
  background: #F97300;
  color: #ffffff;
  border: 0;
}

.contact-form .right .form-control::placeholder {
  color: #888888;
  font-size: 16px;
}
